/* Reset */

h1,
p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

/* Components */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dddddd;
}

.wrapper {
  width: 300px;
  margin: 73px auto;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.title {
  background-color: #ffffff;
  border-bottom: 3px solid #dddddd;
  padding: 31px 0px;
}

h1 {
  color: #ff1493;
  border-left: 8px solid;
  padding: 0 17px;
  font-size: 20px;
  font-weight: bold;
}

.bucket-list {
  font-size: 12px;
  background-color: #efefef;
  padding: 13px 23px;
}

.bucket-list li {
  width: 254px;
  border: 3px solid #aaaaaa;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px auto;
  padding: 6px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  white-space: normal;
}

li:nth-child(2):hover {
  color: #1e91ff;
  border: 3px solid;
}
